#wrapper {
    width: 100%;
    height: 100%;
}

.camera_frame {
    width: 100%;
    height: 80%;
    border-bottom: 1px solid #cccccc;
}

.camrea_btn_block {
    width: 100%;
    height: 20%;
    position: relative;
    background: #021825;
}

.camera_btn {
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border-radius: 50%;
    border: none;
    outline: none;
    transition: transform 30ms ease-in;
    background-color: #d9f2e7;
}

.camera_btn_transfrom {
    transform: scale(0.75);
}

#photo {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    display: none;
    background: #cccccc;
}

#photo_img {
    width: 100%;
    height: 100%;
}

#share {
    position: absolute;
    bottom: .1rem;
    width: 1rem;
    height: 1rem;
    background: #021825;
    border: none;
    border-radius: 50%;
    color: #d9f2e7;
    margin: 0 auto;
    left: 50%;
    margin-left: -.5rem;
}

#close {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0.05rem;
    padding: 0.05rem;
    color: #d9f2e7;
    background-color: #20465b;
}

#tooltip {
    position: absolute;
    top: 50%;
    text-align: center;
    right: 30%;
    display: none;
}